# =========================
# Terraform
# =========================
.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json

# =========================
# SSH / Keys
# =========================
*.pem
*.key
*.pub
ansible/keys/*
!ansible/keys/README.md

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Docker Desktop (Windows)
# =========================
k8s-projects/sample-app-deploy/DockerDesktopWSL/


# =========================
# Prometheus & Grafana
# =========================
observability/app/node_modules/
observability/app/.DS_Store
k8s-projects/sample-app-deploy/app/node_modules/
node_modules/